/* CDL colors */

/* Red */
$very-light-red: #ffe7e5;
$light-red: #ffafaf;
$medium-red: #ef5656;
$red: #da1b2c;
$dark-red: #a51426;

/* Orange*/
$very-light-orange: #ffe5d3;
$light-orange: #ffc196;
$medium-orange: #ff8a57;
$orange: #dd5714;
$dark-orange: #a83d0e;

/* Yellow */
$dark-yellow: #74600c;
$yellow: #b79e25;
$medium-yellow: #e5d676;
$light-yellow: #faf2a9;
$very-light-yellow: #fffbd7;

/* Green */
$very-light-green: #daf4d4;
$light-green: #acdba2;
$medium-green: #68b75f;
$green: #3b822e;
$dark-green: #2c5e20;

/* Teal */
$very-light-teal: #dbfff3;
$light-teal: #aee5d3;
$medium-teal: #5fb79c;
$teal: #218466;
$dark-teal: #16664b;

/* Aqua */
$very-light-aqua: #cff3f9;
$light-aqua: #a2d6dd;
$medium-aqua: #45a5b5;
$aqua: #00758e;
$dark-aqua: #205460;

/* Blue */
$very-light-blue: #e0f1ff;
$light-blue: #b0daff;
$medium-blue: #3192d3;
$blue: #00758e;
$dark-blue: #205460;

/* Purple */
$very-light-purple: #ffe6fd;
$light-purple: #e5c6e3;
$medium-purple: #b286af;
$purple: #865f7f;
$dark-purple: #543b50;

/* Magenta */
$very-light-magenta: #ffe6f3;
$light-magenta: #edb0ce;
$medium-magenta: #b26487;
$magenta: #882345;
$dark-magenta: #562135;

/* Gray */
$blackish: #080808;
$ultra-dark-gray: #242424;
$very-dark-gray: #383838;
$dark-gray: #686868;
$medium-dark-gray: #989898;
$medium-gray: #c8c8c8;
$light-gray: #ddd;
$very-light-gray: #f3f3f3;
$off-white: #f8f8f8;
$white: #fff;

/* Misc */
$title-subhead: #8f9da4;
$dark-navy: #142a35;

/* CDL base type */
body {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}